<div class="card">
	<div class="card-body">
		<h1>About</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error molestias necessitatibus itaque laudantium, voluptatibus minima facere harum saepe aliquam, excepturi amet quo recusandae in adipisci eveniet magnam at quisquam. Maiores quas beatae quaerat delectus dolor quod aliquam. Placeat, eaque atque.</p>
	</div>
</div>