{{#if error}}
	<div class="alert alert-danger alert-dismissible fade show">
		{{ error }}
		<button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{{/if}}
{{#each err}}
	<div class="alert alert-danger alert-dismissible fade show">
		{{ text }}
		<button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{{/each}}
