{{#if success_msg}}
	<div class="alert alert-success alert-dismissible fade show">
		{{ success_msg }}
		<button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{{/if}}
{{#if error_msg}}
	<div class="alert alert-danger alert-dismissible fade show">
		{{ error_msg }}
		<button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{{/if}}