<div class="row">
	<div class="col-md-4 mx-auto">
		<div class="card mt-4 text-center">
			<div class="card-header">
				<h1>Account Login</h1>
			</div>
			<div class="card-body">
				<form action="/users/signin" method="post">
					<div class="mb-3">
						<input type="email" name="email" class="form-control" placeholder="Email" autofocus>
					</div>
					<div class="mb-3">
						<input type="password" name="password" class="form-control" placeholder="Password">
					</div>
					<div class="mb-3 d-grid gap-2">
						<button type="submit" class="btn btn-primary">
							SignIn
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>